
<article>
  <header class="headline">
  </header>

{{- $title := partial "title.gotmpl" (dict "page" .) }}
<h1 id="{{ $title | plainify | anchorize }}">{{ $title }}</h1>
{{ partial "partials/shortcodes/term.html" (dict "page" . "term" .) | safeHTML }}

  <footer class="footline">
  </footer>
</article>