@charset "UTF-8";

@font-face {
    font-family: 'Novacento Sans Wide';
    src: url("../fonts/Novecentosanswide-UltraLight-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Work_Sans_300.woff") format("woff");
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Work_Sans_500.woff") format("woff");
}

body {
    background: #fff;
    color: #777;
}

a {
    color: #00bdf3;
    text-decoration: none;
}

a:hover {
    color: #0082a7;
}

pre {
    position: relative;
    color: #ffffff;
}

.bg {
    background: #fff;
    border: 1px solid #eaeaea;
}

b,
strong,
label,
th {
    font-weight: 600;
}

#body {
    position: relative;
    margin-left: 300px;
    min-height: 100%;
}

#body img,
#body .video-container {
    margin: 3rem auto;
    display: block;
    text-align: center;
}

#body img.border,
#body .video-container.border {
    border: 2px solid #e6e6e6 !important;
    padding: 2px;
}

#body img.shadow,
#body .video-container.shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#body img.inline {
    display: inline !important;
    margin: 0 !important;
    vertical-align: bottom;
}

#body .bordered {
    border: 1px solid #ccc;
}

#body .padding {
    padding: 3rem 6rem;
}

@media only all and (max-width: 59.938em) {
    #body .padding {
        position: static;
        padding: 15px 3rem;
    }
}

@media only all and (max-width: 47.938em) {
    #body .padding {
        padding: 5px 1rem;
    }
}

#body h1+hr {
    margin-top: -1.7rem;
    margin-bottom: 3rem;
}

@media only all and (max-width: 59.938em) {
    #body #navigation {
        position: static;
        margin-right: 0 !important;
        width: 100%;
        display: table;
    }
}

#body-inner {
    margin-bottom: 5rem;
}

body {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 18px !important;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
    color: #5e5e5e;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 2.55rem;
}

h1 {
    font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #222;
    font-weight: 200;
    font-size: 3.25rem;
}